@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Header-->
<div class="container text-center" style="margin-bottom:0">
    <br />
    <h1 class="display-4">Välkommen till min inlämningsuppgift</h1>
    <br />
    <p>Inlämningsuppgift 3 - Nicole Walter</p>
    <br />
    <p class="align-content-center">Lämna gärna en kommentar i gästboken. <br />
    För att använda forumet var snäll och logga in först. <br />
    Är du en ny användare var så god och registrera dig först.</p>
</div>
